name: Train MLflow Project

on:
  push:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install MLflow
      run: pip install mlflow scikit-learn pandas numpy

    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .
